.App {
}

.App-header {
  height: 15vh;
  background-color: darkred;
}

.App-main {
  height: 75vh;
  overflow-y: auto;
}

input[type="radio"]:disabled {
  cursor: not-allowed;
}

.App-footer {
  height: 10vh;
  background-color: grey;
}