.App {
}

.App-header {
  display: flex;
  flex-wrap: wrap;
  color: white;
}
.App-header-top {
  display: flex;
  height: 7.5vh;
  flex: 1 0 100%;
  align-items: center;
  justify-content: center;
  background-color: #C0392B;
}
.App-header-bottom {
  display: flex;
  height: 7.5vh;
  flex: 1 0 100%;
  background-color: #FF7070;
}

.App-main {
  height: 75vh;
  padding-left: 10px;
  overflow-y: auto;
}

input[type="radio"]:disabled {
  cursor: not-allowed;
}

.App-footer {
  height: 10vh;
  background-color: #c3c3c3;
}